@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,700,800);
@import url('font-awesome.min.css');
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
html{
    scroll-behavior: smooth;
}
body{
	margin:0;
	padding:0;
    width: 100%;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.6em;
	
}
header
{
    background:linear-gradient(rgba(0,0,100,0.5),rgba(0,0,100,0.5)),url(img/07.jpg); 
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav
{
    position: fixed;
    width: 100%;
    line-height: 20px; 
    transition:0.5s;
}
nav ul
{
    float:right;
    margin:0;
    padding-right:42px;
}
nav ul li
{ display:inline-block;
    padding: 16px 32px;
}
nav ul li a
{
    text-decoration: none;
    color:#fff; 
    font-size: 16px;
}
.nav1
{
    
    width: 100%;
    line-height: 20px;
    background-color: black;
}
.nav1 ul
{
    float:right;
    margin:0;
    padding-right:42px;
}
.nav1 ul li
{ display:inline-block;
    padding: 16px 32px;
}
.nav1 ul li a
{
    text-decoration: none;
    color:#fff; 
    font-size: 16px;
}

 .login
 {
  width: 400px;
  height: 325px;
  border: 15px;
  padding: 20px;
  margin: 20px;
  margin-top: 11% ;
  margin-left:35%;
z-index: -800px;
  border-radius: 3px;
overflow: hidden;
background-color: #13BFBD;
 }
.loginput
 {
  padding:10px;
  width: 352px;
  height: 35px;
  margin-left: 15px;
  font-size: 20px;
  
  border-size:2px;
  border:solid;
  border-color: grey;
  margin-top: 20px;
    

 }
.logsubmit
 {
  font-family: ;
    background-color: #13BFBD;
    width:374px;
    height: 50px;   
    border: thin;
    font-size: 25px;
    font-style: bold;
    color: white;
    border-color: black;
    margin-top: 8px;
    margin-left: 13px;
    cursor:pointer;
    
}

.registration
{
  width: 400px;
  height: 650px;
  border: 15px;
  padding: 20px;
  margin: 20px;
  margin-top:3%;
  margin-left:60%;
  z-index: -800px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #333332;
    opacity: 0.9;
}
a:hover
{
  color: black;
}

.paragraph {
  width: 800px;
  height: 500px;
  margin-left: 300px;   
  padding: 30px;
  text-align: justify;
  line-height: 30px;
    
}
.about1
{
    width: 94vw;
    height: 700px;
    border: thin;
    padding: 20px;
    
}

.about1 h1
{
    font-size: 40px;
    font-family: monospace;
    text-decoration: bold;
    text-align: center;
}
.contact
{
    
    width: 100%;
    height: 500px;
    
    border: thin;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/13.jpg); 
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.sub1
{
    width: 400px;
    height: 300px;
    position: absolute;
    margin-top: 100px;
    margin-left: 65%;
    border-radius: 3px;
}
.sub2
{
   width:300px;
    height: 400px;
  
    position: absolute;
    margin-left: 60px;
    margin-top: 50px;

   
}
.stuservices
{ margin-top: 80px;
    width: 100%;
    height: 700px;
}
.stuservices h1
{
    font-size: 30px;
   font-family: inherit;
    text-align: center;
}
.spacer1
{
    width: 100%;
    height: 300px;
 
    
}
.backheader1
{
    width: 100%;
    border: thin;
    height:300px;
    background-image: url("img/06.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    margin-top: 20px;
}
.backheader1 h1
{
    padding: 100px;
    color:white;
    text-align: center;
    
}
.backheader1 p
{
    color:white;
    font-size:25px;
    text-align: right;
    margin-right: 220px;
    
}
.backheader2
{
    width: 100%;
    border: thin;
    height:300px;
    background-image: url("img/05.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    margin-top: 20px;
}
.backheader2 h1
{
    padding: 100px;
    color:white;
    text-align: justify;
    margin-left: 200px;
    
    
}
.backheader2 p
{
    color:white;
    font-size:25px;
    text-align: right;
    margin-right: 220px;
    
}




h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
	font-weight: 400;
}


p { 
	padding: 0; 
	margin-bottom: 12px; 
    font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px; 
	line-height: 26px;
	color: #666; 
	margin-top: 10px; 
}
header h1
{ text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 2px;
    
    text-align: center;
    padding-top: 350px;
    color:#fff;
     margin-top:0;
    font-family: 'Lato';
    
}

nav.black
{
   background:#000;
    
}
nav a:hover{
    color: aqua;
}
.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}
.services
{
    width: 100%;
    height: 85vh;
    
}
.services1
{
    border: 1px solid;
    border-color: dimgrey;
    width: 300px;
    height:500px;
    margin-top: 150px;
    margin-left: 200px;
    border-radius: 2px;
    
}
.services1 h1
{
    padding: 20px;
    text-align: center;
    text-decoration: bold;
    font-size: 35px;
}
.services1 p
{
    text-align: center;
    text-decoration: bold;
    font-size: 24px;
    padding: 20px;
}
.services2
{
    border: 1px solid;
    border-color: dimgrey;
    width: 300px;
    height:500px;
    margin-top: -503px;
    margin-left: 600px;
    border-radius: 2px;
    
    
}
.services2 h1
{
    padding: 20px;
    text-align: center;
    text-decoration: bold;
    font-size: 35px;
}
.services2 p
{
    text-align: center;
    text-decoration: bold;
    font-size: 24px;
    padding: 20px;
}
.services3
{
    border: 1px solid;
    border-color: dimgrey;
    width: 300px;
    height:500px;
    margin-top: -502px;
    margin-left: 1000px;
    border-radius: 2px;
    
    
}
.services3 h1
{
    padding: 20px;
    text-align: center;
    text-decoration: bold;
    font-size: 35px;
}
.services3 p
{
    text-align: center;
    text-decoration: bold;
    font-size: 24px;
    padding: 20px;
}
.myButton {
	background-color:#00d4f0;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	padding:15px 49px;
	text-decoration:none;
	text-shadow:0px 1px 30px #00b7ff;
    margin-top: 50%;
}
.myButton:hover {
	background-color:#2aa0bd;
}
.myButton:active {
	position:relative;
	top:1px;
}
.footer1
{
    width: 100wh;
    height: 40px;
    background-color: dimgrey;
    margin-top: -10px;
    padding: 15px;
    
    
}

.sub2 address
{
    padding:20px;
    font-size:20px;
    text-align: left;
    font-family: 'Lato', sans-serif;
	font-weight: 400;
    color: white;
    text-decoration: none;
}
.profile{
    
    width: 100%;
    height: 800px;
    margin-top: 50px;
    
}
.profile p{
    color: black;
}
.profile1{
    width: 300px;
    height: 500px;
    border: black solid 1px;
    margin-left: 40px;
    padding: 20px;
}
.profile1 p{
    font-family: 'Lato', sans-serif;
    line-height: 4;
    text-align: justify;
    text-decoration: none;
    font-size: 22px;
    margin-left: 20px; 
}
.profile1 h1{
    font-size: 30px;
    text-decoration: bold;
    text-align: center;
}
.profile2{
    width: 300px;
    height: 500px;
    border: black solid 1px;
    margin-left: 550px;
    margin-top: -542px;
    padding: 20px;
}
.profile2 p{
    font-family: 'Lato', sans-serif;
    line-height: 4;
    text-align: justify;
    text-decoration: none;
    font-size: 22px;
    margin-left: 20px; 
}
.profile2 h1{
    font-size: 30px;
    text-decoration: bold;
    text-align: center;
}
.profile3{
    width: 300px;
    height: 500px;
    border: black solid 1px;
    margin-left: 1060px;
    margin-top: -542px;
    padding: 20px;
}
.profile3 p{
    font-family: 'Lato', sans-serif;
    line-height: 4;
    text-align: justify;
    text-decoration: none;
    font-size: 22px;
    margin-left: 20px; 
}
.profile3 h1{
    font-size: 30px;
    text-decoration: bold;
    text-align: center;
}


